<h3>Rules</h3>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="#">This is rule 1</a></td>
        <td>When feed is "This"<br>Then download</td>
        <td><a href="#" data-method="DELETE" data-confirm="Delete rule?">Delete</a></td>
    </tr>
    <tr>
        <td><a href="#">This is rule 2</a></td>
        <td>Feed is "This"</td>
        <td><a href="#" data-method="DELETE" data-confirm="Delete rule?">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="rel-links">
    <a href="/settings/rules/new">Add Rule</a>
</div>