<form method="POST" action="/settings/rules">
    <div>
        <h3>New Rule</h3>

        <div class="fields">
            <div class="field">
                <div class="field-name"><label>Name</label></div>
                <div class="field-value"><input name="name" value="" class="mid-text-field"></div>
            </div>
            <div class="field">
                <div class="field-name"></div>
                <div class="field-value">
                    <label>
                        <input name="active" type="checkbox" checked>
                        Active
                    </label>
                </div>
            </div>
        </div>

        <h3>Condition</h3>

        <div class="fields">
            <div class="field">
                <div class="field-name"><label>Feed is</label></div>
                <div class="field-value">
                    <select name="condition.feedId">
                        <option value="">(any)</option>
                        {{range .feeds}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="field-name"><label>Title matches</label></div>
                <div class="field-value">
                    <input name="condition.title" value="" class="large-text-field">
                </div>
            </div>
        </div>

        <h3>Actions</h3>

        <div class="fields">
            <div class="field">
                <div class="field-name"></div>
                <div class="field-value">
                    <label>
                        <input name="action.download" type="checkbox">
                        Download
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="field-name"></div>
                <div class="field-value">
                    <label>
                        <input name="action.markFavourite" type="checkbox">
                        Mark as favourite
                    </label>
                </div>
            </div>
        </div>

        <div class="rel-links">
            <input type="submit" value="Create Rule">
        </div>
    </div>
</form>
