<div>
    <h3>Video {{.video.ID}}</h3>

    <div class="fields">
        <div class="field">
            <div class="field-name">Ext ID</div>
            <div class="field-value">{{.video.ExtID}}</div>
        </div>
        <div class="field">
            <div class="field-name">Title</div>
            <div class="field-value">{{.video.Title}}</div>
        </div>
        <div class="field">
            <div class="field-name">Feed</div>
            <div class="field-value">{{.video.FeedID}}</div>
        </div>
        <div class="field">
            <div class="field-name">Source</div>
            <div class="field-value">{{.video.Source}}</div>
        </div>
        <div class="field">
            <div class="field-name">Saved On</div>
            <div class="field-value">{{.video.SavedOn}}</div>
        </div>
        <div class="field">
            <div class="field-name">Location</div>
            <div class="field-value">{{.video.Location}}</div>
        </div>
        <div class="field">
            <div class="field-name">File Size</div>
            <div class="field-value">{{.video.FileSize}}</div>
        </div>
    </div>
</div>