<div class="fields">
    <div class="field">
        <div class="field-name"><label>Name</label></div>
        <div class="field-value"><input name="name" value="{{.feed.Name}}" class="large-text-field"></div>
    </div>
    <div class="field">
        <div class="field-name"><label>Type</label></div>
        <div class="field-value">
            <select name="type">
                <option value="youtube-channel">YouTube Channel</option>
                <option value="youtube-playlist">YouTube Playlist</option>
                <option value="apple-dev">Apple Developer Videos</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div class="field-name"><label>External ID</label></div>
        <div class="field-value"><input name="ext_id" value="{{.feed.ExtID}}" class="small-text-field"></div>
    </div>
    <div class="field">
        <div class="field-name"><label>Target Dir</label></div>
        <div class="field-value"><input name="target_dir" value="{{.feed.TargetDir}}" class="large-text-field"></div>
    </div>
    {{if .extendedForm}}
        <div class="field">
            <div class="field-name"><label>Ordering</label></div>
            <div class="field-value">
                <select name="ordering">
                    <option value="0">Published</option>
                    <option value="1">Title</option>
                </select>
            </div>
        </div>
    {{end}}
    <div class="field">
        <div class="field-name"></div>
        <div class="field-value"><input type="submit" value="Save"></div>
    </div>
</div>