<div class="fields">
    <div class="field">
        <div class="field-name"><label>Name</label></div>
        <div class="field-value"><input name="name" value="{{.feed.Name}}" class="large-text-field"></div>
    </div>
    <div class="field">
        <div class="field-name"><label>Type</label></div>
        <div class="field-value">
            <select name="type">
                {{selectOption .feed.Type "youtube-channel" "YouTube Channel"}}
                {{selectOption .feed.Type "youtube-playlist" "YouTube Playlist"}}
                {{selectOption .feed.Type "apple-dev" "Apple Developer Videos"}}
            </select>
        </div>
    </div>
    <div class="field">
        <div class="field-name"><label>External ID</label></div>
        <div class="field-value"><input name="ext_id" value="{{.feed.ExtID}}" class="small-text-field"></div>
    </div>
    <div class="field">
        <div class="field-name"><label>Target Dir</label></div>
        <div class="field-value"><input name="target_dir" value="{{.feed.TargetDir}}" class="large-text-field"></div>
    </div>
    {{if .extendedForm}}
        <hr>
        <div class="field">
            <div class="field-name"><label>Ordering</label></div>
            <div class="field-value">
                <select name="ordering">
                    {{selectOption .feed.Ordering "pub-desc" "Published"}}
                    {{selectOption .feed.Ordering "title-asc" "Title"}}
                </select>
            </div>
        </div>
        <div class="field">
            <div class="field-name"></div>
            <div class="field-value">
                {{checkbox .feed.CheckForUpdates "check_for_updates" "Check for Updates"}}
            </div>
        </div>
    {{end}}
    <div class="field">
        <div class="field-name"></div>
        <div class="field-value"><input type="submit" value="Save"></div>
    </div>
</div>