{{ $feed := .feed }}
<div>
    <h3>Feed: {{.feed.Name}}</h3>

    <div class="fields">
        <div class="field">
            <div class="field-name"><label>Type</label></div>
            <div class="field-value">{{.feed.Type}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>External ID</label></div>
            <div class="field-value">{{.feed.ExtID}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>Target Dir</label></div>
            <div class="field-value">{{.feed.TargetDir}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>Created At</label></div>
            <div class="field-value">{{.feed.CreatedAt}}</div>
        </div>
    </div>
    <div class="rel-links">
        <a href="/feeds/{{.feed.ID}}/edit">Edit</a>
    </div>

    <h3>Recent Items</h3>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Published</th>
        </tr>
        </thead>
        <tbody>
        {{range .recentItems}}
        <tr>
            <td><a href="/details/video/{{.VideoID}}&from_feed_id={{$feed.ID}}">{{.Title}}</a></td>
            <td>{{.Published.Format "2006-01-02 15:04:05 MST"}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>