<div>
    <h3>Feed: {{.feed.Name}}</h3>

    <div class="fields">
        <div class="field">
            <div class="field-name"><label>Type</label></div>
            <div class="field-value">{{.feed.Type}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>External ID</label></div>
            <div class="field-value">{{.feed.ExtID}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>Created At</label></div>
            <div class="field-value">{{.feed.CreatedAt}}</div>
        </div>
    </div>
    <div class="rel-links">
        <a href="/feeds/{{.feed.ID}}/edit">Edit</a>
    </div>
</div>