{{ $feed := .feed }}
<div>
    <h3>Feed: {{.feed.Name}}</h3>

    <div class="fields">
        <div class="field">
            <div class="field-name"><label>Type</label></div>
            <div class="field-value">{{.feed.Type}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>External ID</label></div>
            <div class="field-value">
                {{if .externalUrl}}
                    <a href="{{.externalUrl}}">{{.feed.ExtID}}</a>
                {{else}}
                    {{.feed.ExtID}}
                {{end}}
            </div>
        </div>
        <div class="field">
            <div class="field-name"><label>Target Dir</label></div>
            <div class="field-value">{{.feed.TargetDir}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>Created At</label></div>
            <div class="field-value">{{formatTime .feed.CreatedAt}}</div>
        </div>
        <div class="field">
            <div class="field-name"><label>Last Updated</label></div>
            <div class="field-value">{{formatTime .feed.LastUpdatedAt}}</div>
        </div>
    </div>
    <div class="rel-links">
        <a href="/feeds/{{.feed.ID}}/refresh" data-method="POST">Refresh</a>
        <span class="divider"></span>
        <a href="/feeds/{{.feed.ID}}/edit">Edit</a>
    </div>

    <h3>Recent Items</h3>

    <div data-controller="paging" data-paging-current-page-value="{{.request.Page}}">
        <div class="table-associated-form">
            <form action="/feeds/{{.feed.ID}}" method="get" data-paging-target="form">
                <input type="hidden" name="page" value="0" data-paging-target="pageInput">
                <input class="small-text-field" name="q" value="{{.request.Query}}" placeholder="Filter recent items">
                <input type="submit" value="Filter">
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th class="datetime">Published</th>
            </tr>
            </thead>
            <tbody>
            {{range .recentItems}}
                <tr>
                    <td><a href="/details/video/{{.EntryID}}?from_feed_id={{$feed.ID}}">{{.Title}}</a></td>
                    <td  class="datetime">{{formatTime .Published}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <div class="rel-links">
            <a href="#" data-action="paging#previousPage">Prev</a>
            <span class="divider"></span>
            <a href="#" data-action="paging#nextPage">Next</a>
        </div>
    </div>
</div>