div.fields {
    border-top: dotted thin var(--border-color);
    border-bottom: dotted thin var(--border-color);

    padding: 4px 10px;
}

img.thumbnail {
    float: right;
    width: 270px;
    height: auto;
}

div.fields + div.fields {
    border-top: none;
}

div.field {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;
}

div.field-name {
    width: 200px;
    flex-shrink: 0;
    padding-right: 8px;
    text-align: right;
    color: #666;
    margin: 2px;
}

div.field-value {
    flex-grow: 1;
    margin: 4px;
}

div.pre-wrap {
    white-space: pre-wrap;
}