@import url(https://fontlibrary.org//face/liberation-sans);
@import url(https://fontlibrary.org//face/hack);

@import "font-awesome/css/font-awesome.css";

@import "./vars.css";
@import "./nav.css";
@import "./fields.css";
@import "./tables.css";
@import "./messages.css";
@import "./form.css";
@import "./progress.css";

html {
    min-height: 100%;
    display: flex;

    background: #EEF;
}

body {
    flex-grow: 1;

    font-family: 'LiberationSans', sans-serif;
    display: flex;
    flex-direction: column;

}

div.frame {
    background: #FFF;
    flex-grow: 1;
    width: 900px;
    margin: 3px auto;
    border-radius: 6px;
    border: solid thin var(--border-color);
}

a {
    color: steelblue;
    text-decoration: none;
}

header a {
    color: black;
    text-decoration: none;
}

header h1 {
    margin: 12px var(--main-horizontal-padding) 8px;
}

article h3 {
    margin: 24px var(--main-horizontal-padding) 16px;
}

span.divider::before {
    content: "";
    display: inline-block;
    height: 1em;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: -2px;
    border-right: solid thin var(--border-color);
}

a.favourite {
    display: inline-block;
    color: var(--inactive-toggle-color);
}

a.favourite .fa-spinner {
    display: none;
    animation: 1s infinite linear rotate;
}

a.favourite.active {
    color: var(--active-color);
}

a.favourite.loading {
    color: var(--active-color);
}

a.favourite.loading .fa-spinner {
    display: inline-block;
}

a.favourite.loading .fa-star {
    display: none;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}