<div>
    <h3>Video: {{.video.Title}}</h3>

    <div class="fields">
        <img class="thumbnail" src="{{.video.ThumbnailURL}}">
        <div class="pre-wrap">{{.video.Description}}</div>
    </div>
    <div class="fields">
        <div class="field">
            <div class="field-name">Video ID</div>
            <div class="field-value">
                <a href="https://www.youtube.com/watch?v={{.video.VideoRef.ID}}">{{.video.VideoRef.ID}}</a>
            </div>
        </div>
        {{if .video.ChannelID}}
            <div class="field">
                <div class="field-name">Channel</div>
                <div class="field-value">
                    <a href="https://www.youtube.com/channel/{{.video.ChannelID}}">{{.video.ChannelName}}</a>
                    <span class="divider"></span>
                    <a href="/feeds/new?name={{.video.ChannelName}}&type=youtube-channel&ext_id={{.video.ChannelID}}">
                        <i class="fa fa-rss"></i> Subscribe
                    </a>
                </div>
            </div>
        {{end}}
        <div class="field">
            <div class="field-name">Uploaded On</div>
            <div class="field-value">{{formatTime .video.UploadedOn}}</div>
        </div>
        <div class="field">
            <div class="field-name">Duration</div>
            <div class="field-value">{{formatDurationSec .video.Duration}}</div>
        </div>
        <div class="field">
            <div class="field-name">Download Status</div>
            <div class="field-value">{{.downloadStatus}}</div>
        </div>
        <div class="field">
            <div class="field-name">Favourite</div>
            <div class="field-value">
                <a href="#" class="favourite" data-controller="favourite-link"
                   data-favourite-link-favourite-id-value="{{.favouriteID}}"
                   data-favourite-link-origin-type-value="manual"
                   data-favourite-link-origin-id-value="{{.video.VideoRef.Source}}:{{.video.VideoRef.ID}}"
                   data-action="click->favourite-link#toggleActive"
                   data-favourite-link-active-class="active" data-favourite-link-loading-class="loading">
                    <i class="fa fa-spinner"></i>
                    <i class="fa fa-star"></i>
                    Favourite
                </a>
            </div>
        </div>
    </div>


    <div class="rel-links">
        <form action="/job/download/video" method="post">
            <input type="hidden" name="video_ref" value="{{.video.VideoRef}}">
            <input type="submit" value="Download">
        </form>
    </div>
</div>