<div>
    <h3>Jobs</h3>

    <table>
        <thead>
            <tr>
                <th>Job</th>
                <th>State</th>
                <th>Last Update</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .jobs}}
            <tr>
                <td><a href="/jobs/{{.ID}}">{{.Name}}</a></td>
                <td>{{.State}}</td>
                <td>{{.LastMessage}}</td>
                <td><a href="/jobs/{{.ID}}" data-method="DELETE" data-confirm="Cancel job?">Cancel</a></td>
            </tr>
            {{else}}
            <tr>
                <td class="empty-table" colspan="4">No jobs</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <div class="rel-links">
        <a href="/">Refresh</a>
        <span class="divider"></span>
        <a href="/jobs">History</a>
    </div>

    <h3>Recent Videos</h3>

    <table>
        <thead>
            <tr>
                <th class="favourites"></th>
                <th>Name</th>
                <th>Feed</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            {{range .recentFeedItems}}
            <tr>
                <td class="favourites">
                    <a href="#" class="favourite" data-controller="favourite-link" data-action="click->favourite-link#toggleActive"
                        data-favourite-link-active-class="active" data-favourite-link-loading-class="loading">
                        <i class="fa fa-spinner"></i>
                        <i class="fa fa-star"></i>
                    </a>
                </td>
                <td><a href="/details/video/{{.FeedItem.EntryID}}?from_feed_id={{.FeedItem.FeedID}}">{{.FeedItem.Title}}</a></td>
                {{if .Feed}}
                    <td><a href="/feeds/{{.Feed.ID}}">{{.Feed.Name}}</a></td>
                {{else}}
                    <td>(unknown)</td>
                {{end}}
                <td class="datetime">{{formatTime .FeedItem.Published}}</td>
            </tr>
            {{else}}
            <tr>
                <td class="empty-table" colspan="4">Nothing new</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <div class="rel-links">
        <a href="/feeds/all/recent-items">See More</a>
    </div>
</div>