<div>
    <h3>All Jobs</h3>

    <table>
        <thead>
            <tr>
                <th>Job</th>
<!--                <th>State</th>-->
<!--                <th>Last Update</th>-->
                <th class="progressbar">Progress</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .runningJobs}}
            <tr>
                <td><a href="/jobs/{{.ID}}">{{.Name}}</a></td>
<!--                <td>{{.State}}</td>-->
<!--                <td>{{.LastMessage}}</td>-->
                <td class="progressbar">
                    <div class="progressbar">
                        <div class="complete" style="width: {{mup .LastUpdate.Percent 2}}px">
                            <span class="label">{{.LastUpdate.Summary}}</span>
                        </div>
                        <span class="label">{{.LastUpdate.Summary}}</span>
                    </div>
                </td>
                <td><a href="/jobs/{{.ID}}" data-method="DELETE" data-confirm="Cancel job?">Cancel</a></td>
            </tr>
            {{end}}
            {{range .historicalJobs}}
            <tr>
                <td><a href="/jobs/{{.ID}}">{{.Name}}</a></td>
<!--                <td>{{.State}}</td>-->
<!--                <td>{{.LastMessage}}</td>-->
                <td class="progressbar">
                    <div class="progressbar">
                        <div class="complete" style="width: {{mup .LastUpdate.Percent 2}}px">
                            <span class="label">{{.LastUpdate.Summary}}</span>
                        </div>
                        <span class="label">{{.LastUpdate.Summary}}</span>
                    </div>
                </td>
                <td></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>