<div>
    <h3>Job {{.job.ID}}</h3>

    <div class="fields">
        <div class="field">
            <div class="field-name">Name</div>
            <div class="field-value">{{.job.Name}}</div>
        </div>
        <div class="field">
            <div class="field-name">State</div>
            <div class="field-value">{{.job.State}}</div>
        </div>
        {{if .job.VideoExtID}}
            <div class="field">
                <div class="field-name">Video</div>
                {{if .job.VideoTitle}}
                    <div class="field-value"><a href="/details/video/{{.job.VideoExtID}}">{{.job.VideoTitle}}</a></div>
                {{else}}
                    <div class="field-value"><a href="/details/video/{{.job.VideoExtID}}">Title Unknown ({{.job.VideoExtID}})</a></div>
                {{end}}
            </div>
        {{end}}
        <div class="field">
            <div class="field-name">Created At</div>
            <div class="field-value">{{.job.CreatedAt}}</div>
        </div>
        <div class="field">
            <div class="field-name">Completed At</div>
            <div class="field-value">{{.job.CompletedAt}}</div>
        </div>
        <div class="field">
            <div class="field-name">Error</div>
            <div class="field-value">{{.job.Error}}</div>
        </div>
    </div>

    <h3>Updates</h3>

    <div class="messages">
        {{range .job.Messages}}
            <div class="message-line">{{.}}</div>
        {{end}}
    </div>

    <div class="rel-links">
        <a href="/jobs/{{.job.ID}}">Refresh</a>
    </div>
</div>