[Unit]
Description=Broadtail Service

[Service]
ExecStart=/usr/local/bin/broadtail -config /usr/local/etc/broadtail/config.yaml

[Install]
WantedBy=multi-user.target